* {
    -webkit-font-smoothing: antialiased;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
     box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
    /*color: #515151;*/
    color: #313131;
    background-color: #fff;
}

ol, ul {
    margin-left: 1rem;
}

.hljs {
    font-size: 13px;
}

@media (min-width: 48em) {
    html {
        font-size: 16px;
    }
}

@media (min-width: 58em) {
    html {
        font-size: 20px;
    }
}

a, a:hover {
    text-decoration: none;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

hr {
    position: relative;
    margin: 1.5rem 0;
    border: 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #fff;
}

p code, li code, table code {
    padding: .25em .5em;
    font-size: 75%;
    background-color: #f7f7f7;
    border-radius: 3px;
}

code, code[class*='language-'], pre[class*='language-'] {
    font-family: Menlo, Monaco, "Courier New", monospace;
    font-size: 13px;
    line-height: 1.5;
    background-color: #f9f9f9;
}

.cf {
    clear: both;
}

.head {
    margin: 0 auto;
    padding-left: 1rem;
    padding-top: 4rem;
    padding-bottom: 0.5rem;
    max-width: 38rem;
    color: rgba(0,0,0,.8);
    font-size: 18px;
    line-height: 1.5;
    /*background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);*/
    /*background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);*/
    /*background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);*/
    /*background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);*/
    /*background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);*/
    /*background-image: linear-gradient(135deg, #2e3192, #1bffff);*/
    /*background-image: linear-gradient(to right, #a8caba 0%, #5d4157 100%);*/
    /*background-image: linear-gradient(45deg, #8baaaa 0%, #ae8b9c 100%);*/
    border-bottom: 1px solid #eaeaea;
}

.head a {
    color: rgba(0,0,0,.8);
    /*color: #fefefe;*/
}

.head a:hover {
    color: rgba(0,0,0,.65);
    /*color: #fff;*/
    text-decoration: none;
}

.head nav {
    float: right;
    font-size: 18px;
    padding-right: 1rem;
    position: relative;
    top: 50%;
    transform: translateY(33%);
}

@media (max-width: 925px) {
    .head nav {
        transform: translateY(14%);
    }
}

@media (max-width: 390px) {
    .head nav {
        display: none;
    }
}

.head nav a {
    margin-left: 5px;
}

.head h1 {
    float: left;
    font-size: 1.5rem;
}

.head h1 > small {
    font-size: 75%;
    font-weight: 400;
    color: #c0c0c0;
    letter-spacing: 0;
}

.container {
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 38rem;
}

.posts {
    list-style: none;
}

ul.posts, ol.posts {
    margin-left: 0;
}

.posts li {
    margin: 0 0 .5em 0;
}

.posts a.label,
.post-date a.label {
    margin-top: .5rem;
    margin-bottom: 1rem;
    font-size: 14px;
    line-height: 1.4;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    letter-spacing: 0;
    font-weight: 300;
    font-style: normal;
    color: rgba(0,0,0,.44);
    fill: rgba(0,0,0,.44);
}

.label {
    font-size: 13px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    letter-spacing: 0;
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
    border-radius: 3px;
    padding: 7px 14px;
    line-height: 22px;
    margin: 0 3px 0 0;
    cursor: pointer;
    border: none;
    color: rgba(0,0,0,.6);
    background: rgba(0,0,0,.05);
}

.label:hover {
    color: rgba(0,0,0,.9);
    background: rgba(0,0,0,.08);
    text-decoration: none;
}

.read-more {
    margin-top: 12px;
    display: inline-block;
    position: relative;
    height: 37px;
    color: rgba(0,0,0,.44);
    background: rgba(0,0,0,0);
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    vertical-align: bottom;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    letter-spacing: 0;
    font-weight: 400;
    font-style: normal;
}

.read-more:hover {
    text-decoration: underline;
}

.post {
    font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
    font-weight: 300;
    font-style: normal;
    font-size: 21px;
    line-height: 1.58;
    letter-spacing: -.003em;
}

.post h1 {
    font-family: medium-content-sans-serif-font,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    margin-left: -2.5px;
    line-height: 1.04;
    letter-spacing: -.028em;
    color: rgba(0,0,0,.8);
}

.post h1 > a {
    color: rgba(0,0,0,.8);
}

.post h1 > a:hover {
    color: rgba(0,0,0,.65);
    text-decoration: none;
}

.post-date {
    display: block;
    margin-top: .5rem;
    margin-bottom: 1rem;
    font-size: 14px;
    line-height: 1.4;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    letter-spacing: 0;
    font-weight: 300;
    font-style: normal;
    color: rgba(0,0,0,.44);
    fill: rgba(0,0,0,.44);
}

.copyright {
    font-size: 15px;
    text-align: center;
}